.body {
    background-color: #030303;
    color: #d7dadc;
}
.card {
    margin-top: 0.1rem;
    background-color: #1a1a1b;
}

.source {
    margin-right: 1rem;
}

.footer-items {
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}
