# Main packages
celery==5.2.*
Django==3.2.*
djangorestframework==3.12.*
gunicorn==20.1.*
redis==3.5.*
BeautifulSoup4
django-celery-beat
django-redis
pillow
requests
django-filter
psycopg2

# Testing
tox
pytest
pytest-cov
pytest-django
pytest-sugar
coverage
flake8
factory-boy
