{% extends 'fmweb/base.html' %}
{% block title %}Create an Account{% endblock %}

{% block content %}
<div class="margin-top">
<form method="POST">
{% csrf_token %}

    <div class="field">
        <label for="id_name" class="label">Username</label>
        <div class="control">
            <input class="input" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
        </div>
    </div>

  <div class="field">
    <label for="id_name" class="label">Password</label>
    <p class="control">
      <input class="input" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
    </p>
  </div>

  <div class="field">
    <label for="id_name" class="label">Confirm password</label>
    <p class="control">
      <input class="input" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
    </p>
  </div>

<div class="field">
  <p class="control">
    <button type="submit" class="button is-success">
      Login
    </button>
  </p>
</div>

</form>
</div>
{% endblock %}