{% url 'player_form' as player_form %}
{% url 'landing_page' as landing_page %}
{% url 'register' as register %}
{% url 'accounts/login/' as login %}
<nav class="navbar is-light is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'landing_page' %}">
        <p class="logo-font">Jugadores</p>
      </a>
      <div class="navbar-burger burger" data-target="navbar_content">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="navbar_content">
      <div class="navbar-start">
        <a class="navbar-item {% if request.get_full_path == home_url %}is-active{% endif %}" id="home" href="{% url 'player_form' %}">Añadir jugador</a>
      </div>
      <div class="navbar-end">

{% if user.is_authenticated %}
<div class="container">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-text">
            <strong>{{ user.username }}</strong>
          </a>
        </div>
      </div>
</div>
{% else %}
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{% url 'register' %}">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="accounts/login/">
            Log in
          </a>
        </div>
        {% endif %}
      </div>
  </div>
</nav>