{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Celta Novas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
  <link rel="manifest" href="favicon/site.webmanifest" />
  <link href="{% static 'bulma.min.css' %}" rel="stylesheet">
  <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>

<body class="has-background-black">
  {% block content %}
  <section class="section">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-8 is-offset-2">
          <h3 id="page-title" class="title is-3">Celta Novas</h3>
          {% for article in page_obj %}
          <div class="card">
            <div class="card-content">
              <h5 class="title is-5"><a class="has-text-light" href="{{ article.url }}" target="blank">
                  {{ article.title }} </a></h5>
            </div>
            <div class="footer-items">
              <span class="source tag is-dark">{{ article.source }}</span>
              <span class="tag is-dark">{{ article.created_at|date:'Y-m-d' }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </section>
  </div>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-2">
          <div class="card metric-card">
            <div class="card-content">
              <div class="content has-text-light">
                <h4 class="title is-4 has-text-light">Artigos totais</h4>
                <p>{{ article_metrics.total_articles }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="card metric-card">
            <div class="card-content">
              <div class="content has-text-light">
                <h4 class="title is-4 has-text-light">Artigos nas últimas 24 horas</h4>
                <p>{{ article_metrics.articles_last_24_hours }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="card metric-card">
            <div class="card-content">
              <div class="content has-text-light">
                <h4 class="title is-4 has-text-light">Xornal con máis artigos nas últimas 24 horas</h4>
                <p>{{ article_metrics.source_with_more_articles_last_24_hours.source }}: {{ article_metrics.source_with_more_articles_last_24_hours.source__count }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="card metric-card">
            <div class="card-content">
              <div class="content has-text-light">
                <h4 class="title is-4 has-text-light">Xornal con máis artigos</h4>
                <p>{{ article_metrics.source_with_more_articles.source }}:
                  {{ article_metrics.source_with_more_articles.source__count }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2"></div>
      </div>
    </div>
  </section>
  {% endblock %}
</body>

</html>