{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Celta Novas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
  <link rel="manifest" href="favicon/site.webmanifest" />
  <link href="{% static 'bulma.min.css' %}" rel="stylesheet">
  <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>

<body class="has-background-black">
  {% block content %}
  <section class="section">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-three-fifths is-offset-one-fifth">
          <h3 class="title is-2 has-text-light">Celta Novas</h3>
          {% for article in page_obj %}
          <div class="card">
            <div class="card-content">
              <a class="has-text-light" href="{{ article.url }}" target="blank"> {{ article.title }} </a>
            </div>
            <div class="footer-items">
              <span class="source has-text-light">{{ article.source }}</span>
              <span class="has-text-light">{{ article.created_at|date:'Y-m-d' }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </section>
  </div>
  {% endblock %}
</body>

</html>