{% extends 'web/base.html' %}{% load static %}
{% block content %}

<div class="md:container md:mx-auto mt-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <div class="mx-4"><canvas id="chart_articles_by_source"></canvas></div>
        <div class="mx-4">
            <div class="bg-[#1a1a1b] rounded-xl shadow-md overflow-hidden h-80 mb-6 flex items-center">
                <p class="text-sky-400 text-4xl w-full text-center">Numero total de artigos: <span
                        id="total_articles"></span></p>
            </div>
            <div class="bg-[#1a1a1b] rounded-xl shadow-md overflow-hidden h-80 mt-6 flex items-center">
                <p class="text-sky-400 text-4xl w-full text-center">Tendencia ultimo mes: <span
                        id="articles_trend"></span> %</p>
            </div>
        </div>
    </div>
    <div class="mx-4 mb-6">
        <canvas id="chart_articles_by_week_day"></canvas>
    </div>
    <div class="mx-4 mb-6">
        <canvas id="chart_articles_by_month_day"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}